.logo {
    display: block;
    font-size: 0;
    margin: 44px 0 0;
    line-height: 0px!important;
}

 h1.logo a {
 	font-size: 40px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
	.slogan {
		color: #fff;
	    display: block;
	    font-size: 14px;
	    font-weight: normal;
	    letter-spacing: 1.2px;
	    text-transform: none;
	}
.slider-info.custom-content{
	padding-left: 0!important;
	padding-right: 0!important;
}
	.slider-info.custom-content > li {
	    width: 100%;
	    margin-top: -20px!important;
		margin-left: 0!important;
		margin-right: 0!important;
	}	
	.two-inputs input{
		display: block;
		width: 94%;
		height: 25px;
	}
	.full-width{
		width: 90%;
	}
	.no-border{
		border: none!important;
	}
	.custom-content .form-group.two-inputs > p {
	    margin-bottom: 8px !important;
	}

	.form-group.two-inputs > p span {
	    color: #fff;
	}
	.custom-content{
		background: none!important;
		border: none!important;

	}
	.custom-content:before{
		background: none!important;
		border: none!important;

	}

.alert-padding {
	padding: 4px 16px 0 !important;
}


.slider-cta.custom-btn-block{
    float: right;
    left: 6px;
    width: auto;
}

.two-inputs input {border:2px solid #357FAC}
.two-inputs input.error {border:2px solid #e71800
}
h3.subtitle {text-transform: lowercase;
    line-height: 22px;}

@media screen and (max-width: 767px){
	.slider-info.custom-content{
		padding: 10px!important;
	}
		.slider-info.custom-content > li {
    		margin-left: 13px !important;
    	}
		.custom-btn-block {
			left: 23px!important;
		    top: 109%!important;
		}

}	

