/*******************************************************
* Basic styles
*******************************************************/
body {
  background: #ffffff;
  padding: 0;
  margin: 0;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
blockquote,
li,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 21px 0;
  padding: 0;
  color: #545454;
  text-decoration: none;
  font-weight: 400;
}
.blue-section {
  color: white;
}
.blue-section a,
.blue-section p,
.blue-section h1,
.blue-section h2,
.blue-section h3,
.blue-section h4,
.blue-section h5,
.blue-section h6,
.blue-section span,
.blue-section blockquote,
.blue-section li {
  color: inherit;
}
.blue-section a:hover {
  color: white;
  background-color: #b94a4d;
}
.white-section {
  color: #545454;
}
.white-section a,
.white-section p,
.white-section h1,
.white-section h2,
.white-section h3,
.white-section h4,
.white-section h5,
.white-section h6,
.white-section span,
.white-section blockquote,
.white-section li {
  color: inherit;
}
.white-section a:hover {
  color: #c76f71;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 3px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 6px;
}
h3 {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 9px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 12px;
}
h5 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 15px;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}
.blue {
  color: #347fac !important;
  text-align: center;
}
.orange {
  color: #b94a4d;
}
.homepage-style {
  text-align: center;
  font-weight: 800;
  margin-bottom: 21px;
}
.image {
  border: 1px solid #e5e5e5;
  background-color: #f0f0f0;
  padding: 10px;
  margin-top: 0;
  margin: 0 0 10px 0 !important;
}
.image.pull-left {
  margin-right: 21px !important;
}
.image.pull-right {
  margin-left: 21px !important;
}
.fluid-width-video-wrapper {
  margin-bottom: 21px;
}
p a {
  color: #347fac;
  font-weight: 700;
}
p a:hover {
  color: #b94a4d;
}
.center {
  text-align: center;
}
img {
  margin-bottom: 21px;
}
ul {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 0;
}
a:hover {
  text-decoration: none;
}
iframe {
  border: none;
  border-radius: 5px;
}
/*******************************************************
* Elements styles
*******************************************************/
.accordion-body {
  background-color: #ffffff;
}
.accordion-body .accordion-inner {
  padding-bottom: 0;
}
.accordion-heading {
  background-color: #ffffff;
  position: relative;
}
.accordion-heading a {
  font-weight: 400;
  margin: 0;
  padding: 10px 14px;
}
.accordion-heading a:after {
  content: '+';
  display: inline-block;
  position: absolute;
  right: 15px;
  font-size: 20px;
  font-weight: 700;
}
.accordion-heading a.opened {
  color: #4b99c8;
}
.accordion-heading a.opened:after {
  content: '-';
  display: inline-block;
  position: absolute;
  right: 15px;
  font-size: 25px;
  font-weight: 700;
}
.accordion-heading a.opened:hover {
  color: #b94a4d;
}
.accordion-heading.accordion-toggle {
  padding: 8px 30px 8px 15px;
}
.alert {
  padding: 13px 16px;
  border-radius: 0;
  background-color: #ffffff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  border-bottom: 5px solid #e5e5e5;
  color: #545454;
}
.alert > p {
  margin-bottom: 0;
}
.alert.alert-info {
  border-top-color: #347fac;
  border-bottom-color: #347fac;
}
.alert.alert-info strong {
  color: #347fac;
}
.alert.alert-success {
  border-top-color: #78b725;
  border-bottom-color: #78b725;
}
.alert.alert-success strong {
  color: #78b725;
}
.alert.alert-warning {
  border-top-color: #ffba36;
  border-bottom-color: #ffba36;
}
.alert.alert-warning strong {
  color: #ffba36;
}
.alert.alert-error {
  border-top-color: #b94a4d;
  border-bottom-color: #b94a4d;
}
.alert.alert-error strong {
  color: #b94a4d;
}
a.button {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 400;
  clear: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a.button + .button {
  margin-left: 10px;
}
a.button:hover {
  color: white;
}
a.button.simple {
  background-color: #347fac;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a.button.simple:hover {
  background-color: #b94a4d;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a.button.shiny {
  background: #347fac;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1c5b86), color-stop(1, #3092c6));
  background: -ms-linear-gradient(bottom, #1c5b86, #3092c6);
  background: -moz-linear-gradient(center bottom, #1c5b86 0%, #3092c6 100%);
  background: -o-linear-gradient(#3092c6, #1c5b86);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3092c6', endColorstr='#1c5b86', GradientType=0);
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  border: 1px solid #2678a7;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a.button.shiny:hover {
  background: #b94a4d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b94a4d), color-stop(1, #ac3f42));
  background: -ms-linear-gradient(bottom, #b94a4d, #ac3f42);
  background: -moz-linear-gradient(center bottom, #b94a4d 0%, #ac3f42 100%);
  background: -o-linear-gradient(#ac3f42, #b94a4d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac3f42', endColorstr='#b94a4d', GradientType=0);
  -webkit-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.4);
  border: 1px solid #b94a4d;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a.button.large {
  font-size: 16px;
}
a.button.medium {
  font-size: 14px;
}
a.button.small {
  font-size: 12px;
}
a.button.plan {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}
a.button.arrow {
  position: relative;
}
a.button.arrow:after {
  content: '\f054';
  font-family: 'FontAwesome';
  margin-left: 10px;
}
ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 5px;
}
ul.star li {
  list-style-type: none;
}
ul.star li:before {
  content: '\f005';
  font-family: 'FontAwesome';
  margin-left: -20px;
  margin-right: 7px;
}
ul.check li {
  list-style-type: none;
}
ul.check li:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  margin-left: -20px;
  margin-right: 7px;
}
ul.arrow li {
  list-style-type: none;
}
ul.arrow li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  margin-left: -20px;
  margin-right: 7px;
}
ul.bullet li {
  list-style-type: none;
}
ul.bullet li:before {
  content: '\f10c';
  font-family: 'FontAwesome';
  margin-left: -20px;
  margin-right: 7px;
}
.tab-nav {
  padding: 0;
}
.tab-nav li {
  float: left;
  display: block;
  border: 1px solid #e5e5e5;
  border-top: 4px solid #e5e5e5;
  border-bottom: none;
  position: relative;
  bottom: -5px;
  margin-bottom: 0;
  margin-right: 1px;
}
.tab-nav li a {
  font-weight: 400;
  padding: 7px 14px;
  display: block;
  margin: 0;
}
.tab-nav li:hover {
  border-top: 4px solid #b94a4d;
}
.tab-nav li.active {
  color: #347fac;
  background-color: #ffffff;
  border-top: 4px solid #347fac;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  padding: 3px 6px;
  bottom: -1px;
}
.tab-content {
  padding: 20px 20px 10px;
  background-color: #ffffff;
  clear: both;
  border: 1px solid #e5e5e5;
}
.tab-content .tab-cont {
  display: none;
}
.tab-content .active {
  display: block;
}
.well {
  margin-bottom: 21px;
}
.well p {
  float: left;
  font-size: 17px;
  line-height: 42px;
  margin: 0;
}
.well a {
  font-size: 14px;
  margin-bottom: 0;
}
p + .progress {
  margin-top: -15px;
}
blockquote.article {
  width: 40%;
  padding: 3%;
  color: #347fac;
  font-style: italic;
  border-right: 10px solid #347fac;
  border-radius: 3px;
  background-color: #eaeaea;
  font-family: Bitter, serif;
  margin: 0 30px 10px 30px;
}
blockquote.pull-right.article {
  text-align: right;
  margin-right: 0;
}
blockquote.pull-left.article {
  text-align: left;
  margin-left: 0;
}
ul.article {
  background-color: #e8e8e8;
  padding: 40px 60px 35px;
  border-radius: 5px;
  margin: 21px 0;
}
.errorMessage {
  padding: 10px;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #b94a4d;
}
.successMessage {
  padding: 10px;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: green;
}
.feature-icon {
  margin: 0 10px 0 0;
  float: left;
}
.feature-icon + h4 {
  line-height: 48px;
  margin-bottom: 9px;
}
.features-list {
  padding: 0;
  margin: 0;
}
.features-list li {
  list-style-type: none;
}
.features-list li img {
  margin: -3px 10px 0 0;
}
.card-feature-bg {
  background-color: #d8d8d8;
  padding: 3px;
  margin-bottom: 20px;
  -webkit-transform: rotate(1.2deg);
  -moz-transform: rotate(1.2deg);
  -o-transform: rotate(1.2deg);
  -ms-transform: rotate(1.2deg);
  transform: rotate(1.2deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-feature-bg:hover {
  background-color: #347fac;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-feature {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  text-align: center;
  -webkit-transform: rotate(-1.2deg);
  -moz-transform: rotate(-1.2deg);
  -o-transform: rotate(-1.2deg);
  -ms-transform: rotate(-1.2deg);
  transform: rotate(-1.2deg);
}
.card-feature .feature-icon {
  margin-bottom: 10px;
  float: none;
}
.card-feature h5 {
  margin-bottom: 10px;
}
.card-feature p {
  margin-bottom: 20px;
}
.card-feature .button {
  margin-bottom: 15px;
}
/*******************************************************
* Bootstrap fixes
*******************************************************/
a:focus,
.modal {
  outline: none;
}
/*******************************************************
* Basic header and and anvigation styles
*******************************************************/
.main-page-wrapper {
  height: auto;
  width: 100%;
}
.main-page-wrapper .top-background {
  background: transparent url("../img/background-clouds.jpg") no-repeat 50% top;
  height: 250px;
}
.main-page-wrapper .top-background:after {
  content: '';
  background: transparent url("../img/background-overlay-header.png") no-repeat 50% bottom;
  width: 100%;
  height: 109px;
  display: block;
  margin-top: -31px;
}
body.home .top-background {
  height: 660px;
}
.top-menu-wrapper {
  width: 100%;
  height: 49px;
  background: #13435f;
}
.top-menu-wrapper ul,
.top-menu-wrapper li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.top-menu-wrapper ul li {
  float: left;
}
.top-menu-wrapper ul li a {
  font-size: 12px;
  line-height: 29px;
  color: #f0f0f0;
  padding: 10px;
  display: block;
  margin-bottom: 0;
}
.top-menu-wrapper ul li a:hover {
  background-color: #b94a4d;
}
.top-menu-wrapper ul li a i {
  margin-top: 1px;
  font-size: 14px;
}
.top-menu-wrapper ul li:nth-child(2) {
  display: none;
}
.top-menu-wrapper ul li:last-child {
  float: right;
  margin-right: 0;
}
.logo {
  margin: 44px 0 0 0;
  display: block;
  font-size: 0;
}
hr {
  border: none;
  height: 0;
  border-top: 1px solid #326a8d;
  border-bottom: 1px solid #68a0c1;
  margin: 0;
}
.main-menu ul,
.main-menu li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-menu ul a,
.main-menu li a {
  color: white;
}
.main-menu ul a:hover,
.main-menu li a:hover {
  background-color: #b94a4d !important;
}
.main-menu ul a.current-menu-item,
.main-menu li a.current-menu-item {
  background-color: #13435f;
}
.main-menu ul {
  float: right;
  position: relative;
  z-index: 10;
}
.main-menu ul li {
  float: left;
}
.main-menu ul li a {
  display: block;
  padding: 40px 20px 53px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.main-menu ul li a:hover {
  background-color: #13435f;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.main-menu ul li a:after {
  font-size: 13px;
  font-weight: 300;
  display: block;
  line-height: 0;
  margin: 7px 0 0 0;
  text-align: center;
  text-transform: none;
}
.main-menu ul li:hover {
  background-color: #13435f;
}
.main-menu ul li:hover ul {
  display: block;
}
.main-menu ul li:hover ul li ul {
  display: none;
}
.main-menu ul li ul {
  display: none;
  position: absolute;
}
.main-menu ul li ul li {
  display: block;
  float: none;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.main-menu ul li ul li a {
  padding: 13px 20px;
  margin: 0;
  float: none;
  text-align: left;
  text-transform: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  background-color: #13435f;
  border-top: 1px solid #1a5b81;
  border-bottom: 1px solid #0c2b3d;
}
.main-menu ul li ul li a:hover {
  color: white;
  background-color: #b94a4d;
}
.main-menu ul li ul li a:after {
  margin: 0;
}
.main-menu ul li ul li:hover ul {
  display: block;
}
.main-menu ul li ul li ul {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
}
/*******************************************************
* Modal popover login form styles
*******************************************************/
.modal {
  width: 350px;
  margin-left: -175px;
  background-color: #0f344a;
}
.modal .modal.fade.in {
  top: 30% !important;
}
.modal .modal-header {
  background-color: #0f344a;
  border-bottom: 1px solid #347fac;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal .modal-header h5 {
  color: white;
  font-weight: 400;
  margin-bottom: 0;
}
.modal .modal-header .close {
  float: right;
  background: none;
  border: none;
  color: white;
}
.modal .modal-header h5 {
  font-size: 16px;
}
.modal .modal-body {
  background-color: #13435f;
  border-bottom: 1px solid #347fac;
  padding: 30px 10px 15px;
}
.modal .modal-body p {
  float: left;
  width: 35%;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 5px;
  margin-left: 5px;
}
.modal .modal-body .customer-login-input {
  color: #2c2c2c;
  background-color: #f0f0f0;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 20px;
  width: 59%;
}
.modal .modal-footer {
  background-color: #0f344a;
  border: none;
  box-shadow: none;
}
.modal .modal-footer .customer-help-links {
  float: left;
}
.modal .modal-footer .customer-help-links a {
  display: block;
  float: left;
  color: white;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.modal .modal-footer .customer-help-links a:hover {
  color: #c76f71;
}
.modal .modal-footer .btn {
  background-color: #c05c5f;
  background-image: none;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 3px;
}
.modal .modal-footer .btn:hover {
  background-color: #b94a4d;
}
/*******************************************************
* Homepage slider styles
*******************************************************/
#slider-container {
  margin-top: 30px;
  width: 100%;
}
#slider-container .sequence-theme {
  background-color: transparent;
}
#slider-container .sequence-theme #sequence {
  background-color: transparent;
}
#slider-container ul.slider-info {
  margin: 0 0 30px 0;
  float: left;
  border-radius: 5px;
  padding: 10px;
  background-color: #a54042;
  border-right: 8px solid #13435f;
  border-left: 30px solid #13435f;
}
#slider-container ul.slider-info:before {
  content: '';
  background: transparent url('../img/features.png') no-repeat;
  display: block;
  width: 35px;
  height: 178px;
  position: absolute;
  top: -47px;
  left: -30px;
}
#slider-container ul.slider-info li {
  list-style-type: none;
  display: block;
  float: left;
  font-size: 15px;
  padding: 5px 1px;
  border-radius: 5px;
  text-shadow: 0px 0px 5px #2c2c2c;
  margin: 0 20px 0 20px;
  color: #ffffff;
  white-space: nowrap;
}
#slider-container ul.slider-info li span {
  color: #ffffff;
}
#slider-container ul.slider-info li:nth-child(2n) {
  margin-right: 0;
}
#slider-container ul.slider-info li * {
  position: relative;
}
#slider-container ul.slider-info li img {
  margin: -2px 8px 0 -20px;
  width: 16px;
  height: 16px;
}
#slider-container .slider-cta .button {
  display: block;
  float: left;
  padding: 12px 24px;
  color: white;
  background-color: #13435f;
  margin-right: 15px;
  border-radius: 5px;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 49px;
}
#slider-container .slider-cta .button:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #b94a4d;
}
/*******************************************************
* Page styles
*******************************************************/
#content {
  margin-top: 0px;
}
#content .white-section {
  padding-top: 50px;
}
#content .white-section .huge-round-icon {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background-color: #347fac;
  margin: 0 auto 21px auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #ffffff;
  line-height: 120px;
  font-size: 50px;
}
#content .white-section .huge-round-icon:hover {
  background-color: #b94a4d;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#content .white-section .huge-round-icon + p {
  text-align: center;
}
#content .white-section .logos {
  padding: 0;
  margin: 0 0 0 20px;
  display: block;
}
#content .white-section .logos li {
  list-style-type: none;
  display: table-cell;
  padding: 0 15px;
  text-align: center;
}
#content .white-section img.pull-right,
#content .white-section img.pull-left {
  margin: 0 21px 21px;
}
#content .blue-section {
  background: transparent url('../img/background-overlay-top.png') no-repeat 50% top;
  padding-top: 136px;
  margin-top: -21px;
  background-color: #347fac;
  color: white;
}
#content .blue-section:after {
  content: '';
  display: block;
  height: 78px;
  width: 100%;
  margin-top: 0;
  background: transparent url('../img/background-overlay-bottom.png') no-repeat 50% bottom;
}
#content .blue-section .testimonials {
  padding: 0;
  margin: 0;
}
#content .blue-section .testimonials li {
  list-style-type: none;
}
#content .blue-section .testimonials p {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 5px;
  padding-left: 10px;
  font-weight: 300;
}
#content .blue-section .testimonials span {
  font-size: 13px;
}
#content .blue-section .testimonials span:before {
  content: '---';
  margin-right: 5px;
}
#content .blue-section .testimonials .testimonial-image {
  display: block;
  float: left;
  margin: -10px 20px 0 -80px;
  border-radius: 70px;
}
#content .blue-section .testimonials .testimonial {
  background: transparent url('../img/background-testimonial.png') no-repeat right bottom;
  width: 334px;
  height: 120px;
  float: right;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px 40px 20px 20px;
}
/*******************************************************
* Staff styles
*******************************************************/
.staff {
  text-align: center;
}
.staff img {
  border-radius: 70px;
  width: 140px;
  height: 140px;
  margin: 0 auto 21px;
  display: block;
}
.staff h5,
.staff p {
  margin-bottom: 10px;
}
.staff h5 {
  background-color: #347fac;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  font-size: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.staff ul {
  border-top: 1px solid #347fac;
  border-bottom: 1px solid #347fac;
  padding: 0;
  margin-top: 5px;
  margin-left: 25px;
  float: left;
}
.staff ul li {
  list-style-type: none;
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 0;
  background-color: #347fac;
}
.staff ul li:hover {
  background-color: #b94a4d;
}
.staff ul li:first-child {
  margin-left: 10px;
}
.staff ul li a {
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}
/*******************************************************
* Blog styles
*******************************************************/
.post {
  padding-top: 70px;
}
.post .row + .row {
  margin-top: -30px;
}
.post img {
  border-radius: 5px;
  margin-bottom: 21px;
}
.post:nth-child(2n) {
  background: transparent url('../img/background-overlay-top.png') no-repeat 50% top;
  padding-top: 140px;
  background-color: #347fac;
  color: white;
}
.post:nth-child(2n):after {
  content: '';
  display: block;
  height: 78px;
  width: 100%;
  margin-top: 0px;
  background: transparent url('../img/background-overlay-bottom.png') no-repeat 50% bottom;
}
.post:nth-child(2n) h2,
.post:nth-child(2n) p,
.post:nth-child(2n) span,
.post:nth-child(2n) a,
.post:nth-child(2n) blockquote {
  color: white;
}
.post:nth-child(2n) .post-meta li {
  background-color: #225471;
}
.post:nth-child(2n).format-quote blockquote {
  background: #286285 url('../img/quote.png') no-repeat right bottom;
}
.post:nth-child(2n).format-link .link-container {
  background: #286285 url('../img/link.png') no-repeat right bottom;
  margin-bottom: 21px;
}
.post .post-meta {
  display: block;
  margin: 0;
  padding: 0;
}
.post .post-meta li {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0 0 10px 40px;
  padding: 20px 0 0 0;
  width: 60px;
  height: 40px;
  background-color: #347fac;
  border-radius: 30px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: center;
}
.post .post-meta li span {
  position: absolute;
  left: 65px;
  top: 19px;
  display: none;
  white-space: nowrap;
  background-color: #b94a4d;
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 15px;
  opacity: 1;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 9999;
}
.post .post-meta li:hover {
  background-color: #b94a4d;
  width: 70px;
  height: 45px;
  border-radius: 35px;
  padding: 25px 0 0 0;
  margin: -5px 0 5px 35px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.post .post-meta li:hover span {
  opacity: 1;
  display: block;
  left: 75px;
  top: 22px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.post .post-meta .post-date {
  width: 120px;
  height: 100px;
  border-radius: 70px;
  margin: 0 0 10px 10px;
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  padding-top: 20px;
}
.post .post-meta .post-date:hover {
  width: 120px;
  height: 100px;
  border-radius: 70px;
  margin: 0 0 10px 10px;
  padding-top: 20px;
}
.post .post-meta .post-date .post-month {
  font-size: 30px;
}
.post .post-title {
  margin-top: 10px;
  margin-bottom: 21px;
}
.post .post-title a {
  font-size: 34px;
  font-weight: 700;
}
.post .post-title a:hover {
  color: white;
  background-color: #b94a4d;
}
.post.format-quote blockquote {
  padding: 50px;
  background: #e8e8e8 url('../img/quote.png') no-repeat right bottom;
  border-radius: 5px;
  border: none;
}
.post.format-quote blockquote p {
  font-family: 'Bitter', serif;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
}
.post.format-quote blockquote cite {
  font-style: normal;
  font-size: 20px;
}
.post.format-quote blockquote cite:before {
  content: '— ';
}
.post.format-link .link-container {
  padding: 50px;
  background: #e8e8e8 url('../img/link.png') no-repeat right bottom;
  border-radius: 5px;
}
.post.format-link .link-container a {
  font-family: 'Bitter', serif;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.post.format-link .link-container a:hover {
  color: white;
  background-color: #b94a4d;
}
.pagination {
  margin-top: 60px;
  margin-bottom: 100px;
}
.pagination li {
  float: left;
  list-style-type: none;
  margin: 0 8px 0 0;
}
.pagination li:first-child a,
.pagination li:last-child a {
  color: black;
  background-color: transparent;
}
.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
  background-color: transparent;
  color: #b94a4d;
}
.pagination li.active a {
  background-color: transparent;
  color: black;
}
.pagination li.active a:hover {
  background-color: transparent;
  color: black;
}
.pagination li a {
  color: white;
  font-weight: 700;
  font-size: 14px;
  background-color: #347fac;
  padding: 7px 12px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.pagination li a:hover {
  background-color: #b94a4d;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
