<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>FastBooks | Sign Up</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/signup.css" rel="stylesheet" type="text/css" />
    

</head>
<body>
	<div class="signup-wrapper">
		<div class="signup-header">
			<header class="signup-innerheader container">
				<h1 class="title pull-left"><a title="FastBooks" href="#">Fastbook<span class="slogan">All your business in one space</span></a>
				</h1>
				<h3>Complete your registration</h3>
			</header>
		</div>
		<div class="signup-content">
			<section class="signup-section col-md-8">
				<h2 class="hide">Sign up</h2>
				<p class="large-texts">Step 2 of 4: About You</p>
				<hr>

				<div class="signup-form">
					<form class="form-horizontal" role="form">
					    <div class="form-group">
					      <label class="control-label col-sm-5">Company Name:</label>
					      <div class="col-sm-7">
					        <input type="text" class="form-control" placeholder="">
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-5">Company Number:</label>
					      <div class="col-sm-7">
					        <input type="text" class="form-control" placeholder="">
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-5">Your Name:</label>
					      <div class="col-sm-7">
					        <input type="text" class="form-control" id="email" placeholder="">
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-5">Password:</label>
					      <div class="col-sm-7">
					        <input type="password" class="form-control" placeholder="">
					      </div>
					    </div>
					    <div class="form-group">
					      <label class="control-label col-sm-5">Confirm Password:</label>
					      <div class="col-sm-7">
					        <input type="password" class="form-control" placeholder="">
					      </div>
					    </div>
					    
					    <div class="form-group">        
					      <div class="col-sm-offset-2 col-sm-10">
					        <button type="submit" class="btn btn-primary pull-right">Next</button>
					      </div>
					    </div>
				    </form>
				</div>

			</section>
		</div>

		<div class="footer-container">
            <footer id="footer" class="container">
                <p>&copy; copyright 2015 | FastBooks </p>
            </footer>
        </div>

	</div>


</body>
</html>